# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env

# PostgreSQL local data
pg_data/
**/pg_data/

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db